div#header
    div(style="display: flex; justify-content: space-between; align-items: center")
        div
            a(href='/') Home
            | 
            a(href='/find') Search 
            | 
        div(style="float: right;")
            a(href='/register')
                button(type="button") Register 
            a(href='/login')
                button(type="button") Login